--extra-index-url https://download.pytorch.org/whl/cpu # remove this line if you're on GPU
openai
python-dotenv
pypdf
pytest
instructor
pre-commit
uptrain
fastapi
uvicorn
python-multipart
nltk
sentence-transformers
transformers
faiss-cpu
